/**********************************************************
 * common.css
 *
 * M. Nealon, 2018.
 */

 
*,
body
{
	margin:						0px;
	padding:					0px;
	
	overflow-x:					hidden;
	overflow-y:					hidden;
}


#outer,
#inner
{
	position:					absolute;
	box-sizing:					border-box;
}

#outer							{
	z-index:					1;
	
	top:						0%;
	left:						0%;
	width:						100%;
	height:						100%;
}

#inner							{
	z-index:					2;
	
	top:						0%;
	left:						0%;
	width:						100%;
	height:						100%;
}


#header							{
	position:					fixed;
	
	top:						2%;
	left:						2%;
	width:						96%;
	height:						14%;
	
	text-align:					center;
	
	color:						#1E90FF;
	
	font-size:					6.75vh;
	font-family:				"Michroma", cursize;
	
	box-sizing:					border-box;
}

	.header-el						{
		position:					relative;
		float:						left;
		
		box-sizing:					border-box;
		
		width:						5%;
		height:						auto;
		
		color:						#1E90FF;
		background:					none;
		
		text-align:					center;
		
		font-family:				"Michroma", sans-serif;
		font-weight:				bold;
		font-size:					5vw;
	}
	
	#subheader						{
		position:					relative;
		float:						left;
		
		margin:						2px 1%;
		
		width:						98%;
	}
	
	.subheader-el					{
		position:					relative;
		float:						left;
		
		box-sizing:					border-box;
		
		width:						5%;
		height:						auto;
		
		color:						#FFF;
		background:					none;
		
		text-align:					center;
		
		font-family:				"Audiowide", cursive;
		font-size:					9px;
	}
	

#nav							{
	position:					fixed;
	
	top:						18%;
	left:						2%;
	width:						96%;
	height:						auto;
	
	line-height:				32px;
	
	box-sizing:					border-box;
}

	.nav-el							{
		cursor:						pointer;
		
		position:					relative;
		float:						left;
		
		width:						100%;
		height:						20px;
		
		line-height:				20px;
		
		border:						none;
		border-left:				solid 3px #000;
		border-right:				solid 3px #000;
		
		box-sizing:					border-box;
		
		font-size:					2.5vh;
		font-family:				"Audiowide", cursive;
		
		text-align:					center;
		
		color:						#FFF;
		background:					none;
		
		opacity:					0.75;
	}


.page-el						{
	position:					absolute;
	
	width:						100%;
	height:						100%;
	
	background-size:			100% 100%;
	background-repeat:			no-repeat;
	
	box-sizing:					border-box;
}

	.page-overlay					{
		position:					absolute;
		
		top:						15%;
		left:						0%;
		width:						100%;
		height:						70%;
		
		color:						#FFF;
		background:					#000;
		
		opacity:					0.80;
	}
	
	.page-overlay-border			{
		position:					absolute;
		
		left:						0%;
		width:						100%;
		height:						15%;
	}
	
	.page-overlay-top				{
		top:						0%;
		background-image:			linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.8));
	}
	
	.page-overlay-bottom			{
		top:						85%;
		background-image:			linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 1));
	}

	#page-0							{
		top:						0%;		
		background-image:			url(../images/fist-bump.jpeg);
	}

	#page-1							{
		top:						100%;		
		background-image:			url(../images/code.jpeg);
	}

	#page-2							{
		top:						200%;		
		background-image:			url(../images/keyboard.jpeg);
	}

	#page-3							{
		top:						300%;		
		background-image:			url(../images/girl.jpeg);
	}

	#page-4							{
		top:						400%;		
		background-image:			url(../images/contact.jpeg);
	}
	
		.page-content					{
			position:					absolute;
			
			padding:					0px 12px;
			
			top:						50%;
			left:						0%;
			width:						100%;
			height:						55%;
			
			box-sizing:					border-box;
		}
		
		.page-content-ext				{
			top:						50%;
			border-color:				#F00;
		}
		
			.page-content-title				{
				margin-bottom:				24px;
				
				font-family:				"Julius Sans One", sans-serif;
				font-weight:				bold;
				font-size:					20px;
				
				line-height:				20px;
				
				color:						#FFF;
			}
			
			.page-content-subtitle			{
				margin-bottom:				12px;
				
				font-family:				"Lekton", sans-serif;
				font-weight:				bold;
				font-size:					16px;
				
				line-height:				16px;
				
				color:						#FFF;
			}
			
			.page-content-regular			{
				display:					inline;
				
				position:					relative;
				float:						left;
				
				font-family:				"Lekton", sans-serif;
				font-size:					11px;
				
				line-height:				11px;
				
				color:						#FFF;
			}
			
			.page-content-alt				{
				margin:						0;
				padding:					0;
				
				font-family:				"Lekton", sans-serif;
				font-weight:				bold;
				font-size:					11px;
				
				line-height:				11px;
				
				color:						#1E90FF;
			}
	
		.page-content-slider			{
			position:					relative;
			
			left:						0%;
			width:						100%;
			height:						60%;
			
			box-sizing:					border-box;
		}
		
			.page-content-slide				{
				position:					absolute;
				
				width:						100%;
				height:						80%;
				
				margin-right:				12px;
				
				box-sizing:					border-box;
			}
			
				.page-slide-img					{
					position:					relative;
					float:						left;
					
					margin-top:					0%;
					margin-left:				0%;
					
					width:						auto;
					height:						100%;
				}
				
				.page-slide-inner				{
					position:					relative;
					float:						right;
					
					padding-left:				6px;
					
					width:						50%;
					height:						100%;
				}
				
				.page-slide-title				{
					position:					absolute;
					
					width:						100%;
					height:						20px;
					
					font-size:					18px;
					font-weight:				bold;
					font-family:				"Julius Sans One", sans-serif;
					
					line-height:				24px;
					
					color:						#1E90FF;
					background:					none;
					
					box-sizing:					border-box;
				}
				
				.page-slide-description			{
					position:					absolute;
					
					top:						32px;
					width:						100%;
					height:						auto;
					
					font-size:					10px;
					font-family:				"Lekton", sans-serif;
				
					line-height:				10px;
					
					color:						#FFF;
					background:					none;
					
					box-sizing:					border-box;
				}
				
				.page-content-buttons			{
					position:					absolute;
					
					right:						0px;
					bottom:						0px;
					
					box-sizing:					border-box;
					
					width:						auto;
					height:						24px;
				}
				
					.page-content-button			{
						cursor:						pointer;
						
						position:					relative;
						float:						left;
					
						padding:					0px 6px;
						margin:						0px 0px 0px 12px;
						
						font-size:					10px;
						font-weight:				bold;
						
						line-height:				22px;
						
						width:						auto;
						height:						100%;
						
						box-sizing:					border-box;
						border:						solid 2px #1E90FF;
						
						color:						#FFF;
					}
					
					
			.slide-pages					{
				position:					absolute;
					
				bottom:						0px;
				left:						0%;
				width:						100%;
				height:						24px;
					
				text-align:					center;
				
				box-sizing:					border-box;
				
				color:						#FFF;
				background:					none;
				
				font-size:					12px;
				font-family:				"Audiowide", cursive;
				
				line-height:				24px;
			}
			
				.page-prev-slide				{
					position:					absolute;
					
					bottom:						4px;
					left:						0px;
					width:						0px;
					height:						0px;
					
					box-sizing:					border-box;
					border:						solid 8px #1E90FF;
					
					border-top:					solid 8px rgba(0, 0, 0, 0);
					border-left:				solid 8px rgba(0, 0, 0, 0);
					border-bottom:				solid 8px rgba(0, 0, 0, 0);
					
					cursor:						pointer;
				}
				
				.page-next-slide				{
					position:					absolute;
					
					bottom:						4px;
					right:						0px;
					width:						0px;
					height:						0px;
					
					box-sizing:					border-box;
					border:						solid 8px #1E90FF;
					
					border-top:					solid 8px rgba(0, 0, 0, 0);
					border-right:				solid 8px rgba(0, 0, 0, 0);
					border-bottom:				solid 8px rgba(0, 0, 0, 0);
					
					cursor:						pointer;
				}
				
				.page-prev-slide-overlay		{
					position:					absolute;
					
					bottom:						0px;
					left:						0px;
					width:						24px;
					height:						24px;
					
					background:					none;
					
					box-sizing:					border-box;
					
					cursor:						pointer;
				}
				
				.page-next-slide-overlay			{
					position:					absolute;
					
					bottom:						0px;
					right:						0px;
					width:						24px;
					height:						24px;
					
					background:					none;
					
					box-sizing:					border-box;
					border:						slid 1px #FFF;
					
					cursor:						pointer;
				}
			
				.page-social-media				{
					position:					relative;
					float:						right;
					
					margin-top:					36px;
					
					box-sizing:					border-box;
					
					width:						auto;
					height:						24px;
				}
				
					.social-media-link				{
						position:					relative;
						float:						right;
						
						margin:						0px 0px 0px 12px;
						
						box-sizing:					border-box;
						border:						solid 2px #1E90FF;
						
						color:						#FFF;
						
						font-size:					16px;
						line-height:				22px;
						
						text-align:					center;
						
						width:						24px;
						height:						24PX;
						
						cursor:						pointer;
					}
	
		
		.page-content-feedback			{
			position:					absolute;
			
			top:						0%;
			left:						0%;
			width:						100%;
			height:						100%;
			
			box-sizing:					border-box;
		}
		
			.page-feedback-title			{
				position:					relative;
				float:						left;
				
				margin:						0px 0px 24px 0px;
				
				width:						100%;
				height:						auto;
				
				font-size:					22px;
				font-weight:				bold;
				font-family:				"Julius Sans One", sans-serif;
				
				color:						#1E90FF;
			}
			
				.page-feedback-options			{
					z-index:					499;
					
					margin-top:					24px;
					
					position:					relative;
					float:						right;
					
					padding-right:				12px;
					
					box-sizing:					border-box;
					
					height:						auto;
					height:						24px;
				}
				
			
			.page-feedback-regular			{
				position:					relative;
				float:						left;
				
				padding:					0px 12px;
				
				width:						auto;
				height:						auto;
				
				font-size:					12px;
				font-family:				"Lekton", sans-serif;
				font-style:					italic;
				
				line-height:				14px;
				
				color:						#FFF;
			}
			
				.feedback-reflection			{
					display:					none;
					z-index:					500;
					
					position:					absolute;
					
					top:						50%;
					left:						50%;
					width:						0%;
					height:						0%;
				
					overflow-x:					hidden;
					overflow-y:					auto;
					
					padding:					48px 12px 24px 12px;
					
					box-sizing:					border-box;
					border:						solid 2px #1E90FF;
					
					color:						#FFF;
					background:					#000;
					
					opacity:					0.50;
					
					font-family:				"Lekton", sans-serif;
					font-size:					16px;
					
					line-height:				16px;
				}
				
				.close-reflection					{
					position:						absolute;
					
					top:							12px;
					right:							12px;
					width:							24px;
					height:							24px;
					
					text-align:						center;
					
					box-sizing:						border-box;
					border:							solid 1px #1E90FF;
					
					color:							#FFF;
					
					font-size:						18px;
					font-weight:					bold;
					font-family:					"Lucida Console", monospace;
					
					line-height:					24px;
					
					cursor:							pointer;
				}
				
				.feedback-reflection::first-letter	{
					font-size:						24px;
					font-style:						bold;
					
					color:							#1E90FF;
				}
			
	
@media only screen and (min-width: 380px)	{
				.page-slide-inner					{
					width:							56%;
				}
}


@media only screen and (min-width: 540px)	{
	#header							{
		top:						14%;
		left:						12%;
		width:						76%;
	}
	
	#nav							{
		top:						40%;
		left:						60%;
		width:						27%;
		height:						auto;
	}
	
		.nav-el							{
			float:						right;
			clear:						both;
			
			padding-right:				12px;
			
			width:						auto;
			height:						32px;
			line-height:				32px;
			
			border-left:				none;
			border-right:				solid 3px #000;
			
			text-align:					right;
		}
		
		.header-el						{
			font-size:					4vh;
		}
		
		.page-content					{
			top:						40%;
			left:						12%;
			width:						48%;
			height:						55%;
		}
		
		.page-content-ext				{
			left:						5%;
			width:						55%;
		}
		
		.page-content-title				{ font-size: 24px; line-height: 24px }
		.page-content-subtitle			{ font-size: 18px; line-height: 18px }
		.page-content-regular			{ font-size: 12px; line-height: 12px }

		.page-slide-description			{ font-size: 10px; line-height: 10px; }
		.page-feedback-regular			{ font-size: 14px; }
}


@media only screen and (min-width: 700px)	{
		.nav-el							{
			padding-right:				24px;
			border-right:				solid 5px #000;
			font-size:					16px;
		}
		
		.page-content-title				{ font-size: 26px; line-height: 26px }
		.page-content-subtitle			{ font-size: 20px; line-height: 20px }
		.page-content-regular			{ font-size: 14px; line-height: 14px }
		
		.page-slide-description			{ font-size: 12px; line-height: 12px; }
}


@media only screen and (min-width: 900px)	{
		.page-slide-description			{ margin-top: 12px; font-size: 14px; line-height: 14px; }
		.page-feedback-regular			{ font-size: 16px; }
}