/**********************************************************
 * main.scss
 *
 * Defines some basic elements and classes. Also imports
 * bunch of other .scss files.
 *
 * M. Nealon, 2018.
 */
/**********************************************************
 * Colour definitions.
 */
/**********************************************************
 * Generic, boilerplate stuff...
 */
*,
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

/* Main/outer wrapper, this is the first child element
 * in the <body>
 */
#outer {
  z-index: 1;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%; }

/* Inner wrapper, this is the first child element
 * inside the #outer element, it contains all other
 * relative (non-fixed) elements.
 */
#inner {
  position: relative;
  float: left;
  z-index: 2;
  margin: 0px;
  width: 100%;
  height: auto;
  min-height: 100%;
  box-sizing: border-box;
  background: #122f4e;
  overflow-x: hidden; }

#overlay {
  position: fixed;
  z-index: 40;
  display: none;
  background: #122f4e;
  opacity: 0.01;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%; }

/**********************************************************
 * Imports.
 */
@font-face {
  font-family: NationalRegular;
  src: url(Fonts/NationalTest-Regular.otf); }

@font-face {
  font-family: NationalBold;
  src: url(Fonts/National-Bold.otf); }

@font-face {
  font-family: NationalBook;
  src: url(Fonts/National-Book.otf); }

@font-face {
  font-family: GP;
  src: url(Fonts/NationalTest-Regular.otf); }

/**********************************************************
 * header.scss
 *
 * Defined here is the header element and it's children
 * elements - the title logo (top-left) and the nav element
 * (top-right).
 *
 * M. Nealon, 2018.
 */
/**********************************************************
 * Sizes and dimensions
 */
/**********************************************************
 * The header is a fixed, transparent element that is
 * the parent container for the logo image (#title-logo)
 * and the navigation menu system (#title-nav).
 */
#header {
  z-index: 50;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 20vh;
  background-image: linear-gradient(#122f4e, #122f4e, #122f4e, #122f4e, #122f4e, rgba(18, 47, 78, 0.1));
  color: #FFF; }

/**********************************************************
 * Extension for header elements.
 */
#header-logo, #header-image, #header-nav, #header-toggle-nav {
  position: absolute;
  top: 0%;
  height: 20vh;
  box-sizing: border-box; }

/**********************************************************
 * This is where the title logo image is displayed.
 */
#header-logo {
  z-index: 11;
  left: 0%;
  width: 20vh; }

#header-image {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%; }

/**********************************************************
 * This is where the navigation menu system is shown.
 */
#header-nav {
  z-index: 50;
  right: 0%;
  width: 30vh; }

#header-toggle-nav {
  z-index: 51;
  position: absolute;
  top: 25%;
  right: 10%;
  width: 10%;
  height: 20%;
  background: none;
  cursor: pointer; }

.header-nav-option {
  z-index: 52;
  display: inline-block;
  position: absolute;
  height: 50%;
  width: 100%;
  cursor: pointer; }

.header-nav-option a {
  z-index: 53;
  cursor: pointer;
  width: auto;
  margin: 0;
  padding: 0px 0px 0px 2px;
  text-align: left;
  font-size: 1.75vh;
  line-height: 4vh;
  font-family: NationalBook; }

/**********************************************************
 * footer.scss
 *
 * Footer element is defined here-in. Like the header
 * it's a fixed-position element, always visible at the
 * bottom of the page.
 *
 * M. Nealon, 2018.
 */
/**********************************************************
 * Sizes and dimensions
 */
#footer {
  z-index: 40;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 15vh;
  border-top: 1px solid #1E90FF;
  box-sizing: border-box;
  background-color: #122f4e;
  color: #FFF;
  font-family: NationalRegular; }

#footer-contact {
  position: absolute;
  top: 20%;
  left: 0;
  width: auto;
  height: auto;
  margin-left: 24px;
  box-sizing: border-box; }

#footer-contact-header {
  position: relative;
  height: 33.33%;
  color: #3EC0FF;
  box-sizing: border-box;
  font-weight: bold;
  font-family: NationalRegular; }

#footer-contact-mail {
  position: relative;
  height: auto;
  color: #FFF;
  font-weight: bold;
  font-family: NationalRegular; }
  #footer-contact-mail a {
    color: #FFF;
    text-decoration: none;
    cursor: pointer; }
  #footer-contact-mail a:hover {
    color: #3EC0FF; }

#footer-contact-number {
  position: relative;
  height: auto;
  color: #FFF;
  font-weight: bold;
  font-family: NationalRegular; }
  #footer-contact-number a {
    color: #FFF;
    text-decoration: none;
    cursor: pointer; }
  #footer-contact-number a:hover {
    color: #3EC0FF; }

/**********************************************************
 * content.scss
 *
 * Defines the #content element, this is where the actual
 * text content is displayed.
 *
 * This file also defined font types, styling for common
 * tags like h*, p and a elements.
 *
 * M. Nealon, 2018.
 */
#content {
  z-index: 20;
  position: relative;
  top: 0%;
  left: 0%;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  min-height: 80vh;
  margin-bottom: 15vh;
  padding: 0px 12px;
  color: #FFF; }

#content-header {
  position: relative;
  float: left;
  width: auto;
  height: 6vh;
  color: #FFF;
  font-size: 6vh;
  padding: 0px 12px 12px 12px;
  margin-bottom: 12px;
  box-sizing: border-box;
  font-family: NationalBold; }

#content-landscape {
  position: absolute;
  left: -15%;
  bottom: 15vh;
  width: 130%;
  height: 15vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden; }

#content-inner {
  position: relative;
  float: left;
  width: 100%;
  height: auto;
  padding-top: 20vh;
  min-height: 100vh;
  box-sizing: border-box;
  box-sizing: border-box; }

.content-section {
  position: relative;
  float: left;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  background: none;
  color: #FFF; }

hr {
  clear: both;
  height: 2px;
  width: 100%;
  color: #1E90FF;
  padding: 0px 12px; }

.content-section:last-child {
  border-bottom: none; }

.section-inner {
  position: relative;
  float: left;
  width: 100%;
  height: auto;
  padding: 0px 12px;
  margin-bottom: 12; }

.section-inner p {
  margin-bottom: 18px;
  font-size: 16px;
  line-height: 18px;
  font-family: GP; }

.content-data {
  font-size: 14px;
  margin: 12px 0px 24px 0px; }

h1 {
  font-size: 4vh;
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 0px 12px;
  color: #1E90FF;
  font-family: NationalBook; }

h3 {
  font-size: 2.5vh;
  margin-bottom: 12px;
  color: #1E90FF;
  font-family: NationalBold; }

.h1-toggle {
  z-index: 49;
  position: relative;
  float: right;
  margin-top: 0.5vh;
  height: 3vh;
  width: 3vh;
  border-right: 2px solid #1E90FF;
  border-bottom: 2px solid #1E90FF;
  cursor: pointer; }

#contact-el {
  z-index: 25;
  position: absolute;
  top: 26vh;
  left: 70vw;
  width: auto;
  height: auto;
  box-sizing: border-box;
  padding-top: 22px;
  display: none;
  font-family: NationalRegular; }

#contact-header {
  position: relative;
  height: 33.33%;
  color: #3EC0FF;
  box-sizing: border-box;
  font-weight: bold;
  font-family: NationalRegular; }

#contact-mail {
  position: relative;
  height: auto;
  color: #FFF;
  font-weight: bold;
  font-family: NationalRegular; }
  #contact-mail a {
    color: #FFF;
    text-decoration: none;
    cursor: pointer; }
  #contact-mail a:hover {
    color: #3EC0FF; }

#contact-number {
  position: relative;
  height: auto;
  color: #FFF;
  font-weight: bold;
  font-family: NationalRegular; }
  #contact-number a {
    color: #FFF;
    text-decoration: none;
    cursor: pointer; }
  #contact-number a:hover {
    color: #3EC0FF; }

#profile {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: auto; }

#profile-image {
  position: absolute;
  float: left;
  width: 28%;
  height: auto;
  box-sizing: border-box; }

#profile-text {
  position: relative;
  float: right;
  width: auto;
  height: auto;
  font-family: NationalRegular;
  font-size: 10px;
  box-sizing: border-box;
  margin: 0;
  padding: 0px 0px 0px 0px; }
  #profile-text a {
    z-index: 60;
    color: #3EC0FF;
    text-decoration: none;
    cursor: pointer; }
  #profile-text a:hover {
    color: #FFF; }

/**********************************************************
 * images.scss
 */
#arrow-image {
  position: absolute;
  top: 15%;
  right: 1%;
  width: 25%;
  height: auto;
  display: none; }

#dollar-image {
  position: absolute;
  top: 40%;
  right: 1%;
  width: 14%;
  height: auto;
  display: none; }

/**********************************************************
 */
@media (min-width: 320px) {
  /*    #content-landscape {
            left: -95%;
            width:  290%;
            height: ($footer-height * 2);
            bottom: ($footer-height);
        }*/
  #content {
    margin-bottom: 15vh; }
  #profile-image {
    position: relative;
    float: left;
    width: 25%; }
  #profile-text {
    float: left;
    font-size: 12px;
    padding-left: 12px;
    width: 75%; } }

@media (min-width: 460px) {
  /*    #content-landscape {
            left: -40%;
            width:  180%;
            height: ($footer-height * 2);
            bottom: $footer-height;
        }*/
  #content {
    margin-bottom: 15vh; }
  #profile-image {
    width: 30%; }
  #profile-text {
    width: 70%;
    font-size: 16px;
    line-height: 16px; } }

@media (min-width: 768px) {
  #content-landscape {
    left: 0%;
    width: 100%;
    height: 22.5vh;
    bottom: 15vh; }
  #content {
    margin-bottom: 15vh; }
  .section-inner, #content-header, h1, hr {
    padding: 0px 12px 0px 12px;
    margin-left: 20vh;
    margin-right: 40vh;
    width: 50vw;
    height: auto; }
  #content-inner {
    padding-top: 18vh;
    padding-right: 12vw; }
  #footer-contact {
    margin-left: 20vh;
    padding: 0px 24px; }
  #header-nav {
    width: 40vh; }
  /*
        #content-inner {
            margin-left: $header-height;
            margin-right: ($header-height * 2);
            width: auto;
            padding: 0px 12px;
        }*/
  .section-inner p {
    font-size: 20px;
    line-height: 22px; }
  #dollar-image {
    display: block;
    width: 19%;
    right: 10%;
    top: 40%; }
  #arrow-image {
    display: block;
    width: 27%;
    right: 2.5%; }
  #contact-el {
    display: block; }
  #profile-text {
    font-size: 14px;
    line-height: 14px; } }

@media (min-width: 1080px) {
  /*    #content-landscape {
            left: -5%;
            width:  110%;
            height: ($footer-height * 2);
            bottom: $footer-height;
        }*/
  .section-inner, #content-header, h1, hr {
    padding: 0px 12px 0px 12px;
    margin-left: 20vh;
    margin-right: 60vh;
    width: 45vw;
    height: auto; }
  .section-inner p {
    font-size: 20px;
    line-height: 22px; }
  #dollar-image {
    display: block;
    width: 20%;
    right: 14%;
    top: 40%; }
  #arrow-image {
    display: block;
    width: 30%;
    right: 5%; }
  #contact-el {
    display: block;
    left: 64vw; }
  #profile-text {
    font-size: 18px;
    line-height: 18px; } }

/*@media (min-width: $screen-wide) {
        #content-landscape {
            left: 0%;
            width:  100%;
            height: ($footer-height * 2);
            bottom: $footer-height;
        }
    }*/
