
@font-face {
    font-family: NationalRegular;
    src: url(Fonts/NationalTest-Regular.otf);
}

@font-face {
    font-family: NationalBold;
    src: url(Fonts/National-Bold.otf);
}

@font-face {
    font-family: NationalBook;
    src: url(Fonts/National-Book.otf);
}

@font-face {
    font-family: GP;
    src: url(Fonts/NationalTest-Regular.otf);
}


