/**********************************************************
 * footer.scss
 *
 * Footer element is defined here-in. Like the header
 * it's a fixed-position element, always visible at the
 * bottom of the page.
 *
 * M. Nealon, 2018.
 */


/**********************************************************
 * Sizes and dimensions
 */
 $footer-height: 15vh;


 #footer {
     z-index: 40;

     position: fixed;

     bottom: 0px; left: 0px;
     width: 100%; height: $footer-height;

     border-top: 1px solid #1E90FF;
     box-sizing: border-box;

     background-color: $primary-bg;
     color: #FFF;

     font-family: NationalRegular;
 }

    #footer-contact {
        position: absolute;
        top: 20%; left: 0;
        width: auto; height: auto;
        margin-left: 24px;
        box-sizing: border-box;
    }

    #footer-contact-header {
        position: relative;
        height: 33.33%;
        color: #3EC0FF;
        box-sizing: border-box;
        font-weight: bold;
        font-family: NationalRegular;
    }
    
    #footer-contact-mail {
        position: relative;
        height: auto;
        color: #FFF;
        font-weight: bold;
        font-family: NationalRegular;
        a {
            color: #FFF;
            text-decoration: none;
            cursor: pointer;
        }
        a:hover {
            color: #3EC0FF;
        }
    }

    #footer-contact-number {
        position: relative;
        height: auto;
        color: #FFF;
        font-weight: bold;
        font-family: NationalRegular;
        a {
            color: #FFF;
            text-decoration: none;
            cursor: pointer;
        }
        a:hover {
            color: #3EC0FF;
        }
    }

