/**********************************************************
 * header.scss
 *
 * Defined here is the header element and it's children
 * elements - the title logo (top-left) and the nav element
 * (top-right).
 *
 * M. Nealon, 2018.
 */


/**********************************************************
 * Sizes and dimensions
 */
    $header-height: 20vh;

    $title-logo-width: $header-height;
    $title-nav-width: 30vh;


/**********************************************************
 * The header is a fixed, transparent element that is
 * the parent container for the logo image (#title-logo)
 * and the navigation menu system (#title-nav).
 */
    #header {
        z-index: 50;

        position: fixed;

        top: 0px; left: 0px;
        width: 100%; height: $header-height;

        background-image: linear-gradient(
            rgba(18, 47, 78, 1),
            rgba(18, 47, 78, 1),
            rgba(18, 47, 78, 1),
            rgba(18, 47, 78, 1),
            rgba(18, 47, 78, 1),
            rgba(18, 47, 78, 0.1)
        );

        color: #FFF;
    }


/**********************************************************
 * Extension for header elements.
 */
        %header-el {
            position: absolute;
            top: 0%;
            height: $header-height;
            box-sizing: border-box;
        }


/**********************************************************
 * This is where the title logo image is displayed.
 */
        #header-logo {
            @extend %header-el;
            z-index: 11;
            left: 0%;
            width: $title-logo-width;
        }

            #header-image {
                @extend %header-el;
                position: absolute;
                top: 25%; left: 25%;
                width: 50%; height: 50%;
            }


/**********************************************************
 * This is where the navigation menu system is shown.
 */
        #header-nav {
            z-index: 50;
            @extend %header-el;
            right: 0%;
            width: $title-nav-width;
        }

            #header-toggle-nav {
                @extend %header-el;
                z-index: 51;
                position: absolute;
                top: 25%; right: 10%;
                width: 10%; height: 20%;
                background: none;
                cursor: pointer;
           //     margin-left: $title-logo-width;
            }

                .header-nav-option {
                    z-index: 52;
                    display: inline-block;
                    position: absolute;
                    height: 50%;
                    width: 100%;
                    cursor: pointer;
                }

                    .header-nav-option a {
                        z-index: 53;
                        cursor: pointer;
                        width: auto;
                        margin: 0;
                        padding: 0px 0px 0px 2px;
                        text-align: left;
                        font-size: 1.75vh;
                        line-height: 4vh;
                        font-family: NationalBook;
                    }
