/**********************************************************
 * images.scss
 */

 #arrow-image {
    position: absolute;
    top: 15%; right: 1%;
    width: 25%; height: auto;
    display: none;
}

#dollar-image {
    position: absolute;
    top: 40%; right: 1%;
    width: 25%; height: auto;
    display: none;
}

