/**********************************************************
 * images.scss
 */

 #arrow-image {
    position: absolute;
    top: 20%; right: 1%;
    width: 20.5%; height: auto;
    display: none;
}

#dollar-image {
    position: absolute;
    top: 50%; right: 1%;
    width: 10%; height: auto;
    display: none;
}

